*{margin: 0; padding: 0;}
ul, li{list-style: none;}
a{text-decoration: inherit; color: #fff;}

.header .title{width: 100%; height: 80px; background: darkblue;}
.header .title p{width: 100%; text-align: center; color: #fff; font-size: 25px; padding-top: 20px;}
.header .menu{width: 100%; background: cornflowerblue;}
.header .menu ul{display: flex;}
.header .menu li{padding: 5px 25px; color: #fff; font-size: 20px;}

.container p{width: 100%; text-align: center; font-size: 30px; padding: 20px 0px;}
.container table{margin: 0 auto; width: 800px;}
.container table th{width: 40%;}

